{% extends  'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block body %}
    <div class="text-center col-12  fs-4 text">
    <h1>Formulaire de contact</h1>
    <p>Vous souhaitez me contacter, merci de remplir ce formulaire</p>

    <div class="d-flex justify-content-center ">
        {{ form_start(newContact) }}

        <div class="form col-8 offset-2  ">
            <div class="form col-12 position-relative text-center ">


                {{ form_label(newContact.fullName) }}
                {{ form_widget(newContact.fullName) }}
                <div class="error">
                    {{ form_errors(newContact.fullName) }}

                    {{ form_label(newContact.email) }}
                    {{ form_widget(newContact.email) }}
                    <div class="error">
                        {{ form_errors(newContact.email) }}

                        {{ form_label(newContact.subject) }}
                        {{ form_widget(newContact.subject) }}
                        <div class="error">
                            {{ form_errors(newContact.subject) }}

                            {{ form_label(newContact.message) }}
                            {{ form_widget(newContact.message) }}
                            <div class="error">
                                {{ form_errors(newContact.message) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(newContact) }}

                </div>
    </div>
    </div>
    </div>
    </div>


    </div>
{% endblock %}